In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data = pd.read_csv("movies.csv", engine = 'python')
data.drop(['id','imdb_id','cast','homepage','tagline','overview','runtime','release_date','vote_count'], axis = 1, inplace = True)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 12 columns):
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
director                10822 non-null object
keywords                9373 non-null object
genres                  10843 non-null object
production_companies    9836 non-null object
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(3), object(5)
memory usage: 1018.8+ KB

In [4]:
data.isnull().sum()

popularity                 0
budget                     0
revenue                    0
original_title             0
director                  44
keywords                1493
genres                    23
production_companies    1030
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [5]:
data.dropna(inplace = True)
data.isnull().sum()

popularity              0
budget                  0
revenue                 0
original_title          0
director                0
keywords                0
genres                  0
production_companies    0
vote_average            0
release_year            0
budget_adj              0
revenue_adj             0
dtype: int64

In [6]:
tem_keyword = data['keywords'].str.split('|').tolist()
keyword = []
for key in tem_keyword:
    if 'based on novel' in key:
        keyword.append('Yes')
    else:
        keyword.append('No')
data['based_on_novel'] = keyword
data.drop('keywords', axis = 'columns', inplace = True)

In [7]:
split_genres = data['genres'].str.split('|', expand = True).stack().reset_index(level = 1, drop = True).rename('genres')

split_genres.head()

0             Action
0          Adventure
0    Science Fiction
0           Thriller
1             Action
Name: genres, dtype: object

In [8]:
split_production_companies = data['production_companies'].str.split('|', expand = True).stack().reset_index(level = 1, drop = True).rename('production_companies')
split_production_companies.head()

0          Universal Studios
0       Amblin Entertainment
0         Legendary Pictures
0    Fuji Television Network
0                     Dentsu
Name: production_companies, dtype: object

In [9]:
data = data.drop('genres', axis = 1).join(split_genres)
data = data.drop('production_companies', axis = 1).join(split_production_companies)

In [10]:
data.head(10)

,popularity,budget,revenue,original_title,director,vote_average,release_year,budget_adj,revenue_adj,based_on_novel,genres,production_companies
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Action,Universal Studios
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Action,Amblin Entertainment
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Action,Legendary Pictures
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Action,Fuji Television Network
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Action,Dentsu
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Adventure,Universal Studios
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Adventure,Amblin Entertainment
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Adventure,Legendary Pictures
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Adventure,Fuji Television Network
0,32.985763,150000000,1513528810,Jurassic World,Colin Trevorrow,6.5,2015,1.379999e+08,1.392446e+09,No,Adventure,Dentsu

In [11]:
os.getcwd()

'/Users/Huey/R/Udacitycourse/movie'

In [12]:
data.to_csv('/Users/Huey/R/Udacitycourse/movie/movie_cleaned')